@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
}
body {
    margin: 0;
    width: fit-content;
}
.hero-image{ 
    width: 28rem;
    height: 20rem
}
.hero-title{
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.btn-purple{
  color: #3730a3;
  border-color: #3730a3;
  background-color: white;
  border: solid 1px;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.btn-hero-hire{
  color: white;
  border-color: #3730a3;
  background-color: #3730a3;
  border: solid 1px;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
}

.btn-darkmode{
    color:#BAB2e7;
    background-color: #383838;
    border-color: #BAB2e7;
    border-radius: 0.3rem;
    border: solid 1px;
    padding: 0.5rem 1.5rem;
  }
  
  .btn-hire-header{
    color:#443cca;
    background-color: white;
    border-color: #443cca;
    border-radius: 0.3rem;
    border: solid 1px;
    padding: 0.5rem 1.5rem;
  
  }
  .btn-hire-darkmode{
    color:#0000;
    background-color: #f9f9f9;
    border-color:#f9f9f9;
  }
  .text-muted{
    color:#6b7280;
  }
  